<div style="margin-top: 20px;" class="gh-comments" data-comment-id="{{post.issue}}" data-title="{{ post.title }}"></div>
<script type="text/javascript">
  (function (){
    if (!'{{post.issue}}') return false;
    var gh_comments = document.getElementsByClassName('gh-comments')[0];
    var a = document.createElement('a');
    a.href = '{{config.githubIssues}}';
    var gh_api = 'https://api.github.com/repos' + a.pathname;
    var gh_issue_id = '{{post.issue}}';
    var gh_issue_url = a.href +  '/' + gh_issue_id;
    var gh_comments_url = gh_api + '/' + gh_issue_id + '/comments';
    fetch(gh_comments_url, {
      headers: new Headers({
        'Accept': 'application/vnd.github.v3.html+json',
        'Content-Type': 'application/json'
      }),
      method: 'GET'
    }).then((res) => {
      if (res.status == 200) return res.json();
      let error = new Error('HTTP Exception[GET]');
      error.status = res.status;
      error.statusText = res.statusText;
      error.url = res.url;
      throw error;
    }).then((json) => {
        gh_comments.insertAdjacentHTML('afterbegin', `<h3>GitHub Comments</h3>
          <p>如有需要，请访问 <a href="${gh_issue_url}">GitHub Issue</a> 对文章进行评论。</p>`);
        for (let comment of json) {
          let date = new Date(comment.created_at);
          let c = '<div class="gh-comment">' +
              `<img src="${comment.user.avatar_url}" width="24px" style="margin-bottom: 5px; vertical-align: middle;"> ` +
              `<a href="${comment.user.html_url}">${comment.user.login}</a>` +
              ' posted at ' +
              `<time>${date.toLocaleString()}</time>` +
              '<hr>' +
              comment.body_html +
              '</div>';
          gh_comments.insertAdjacentHTML('beforeend', c);
        }
    }).catch((err) => {
      gh_comments.insertAdjacentHTML('afterbegin', `<h3>GitHub Comments</h3>
        <p>获取 GitHub 评论出错，或者还没有评论</p>`);
    })
  })();
</script>
